{% comment %} 
Heritage of all the element of the home page
{% endcomment %} 
{% extends "base.html" %} 

{% comment %} 
Change the title of the page
{% endcomment %}
{% block title %}Conversions{% endblock %} 

{% comment %} 
Change the content of the page
{% endcomment %}
{% block content %}

<h1 class="text-3xl font-bold mb-4 text-center">List of All Your Conversions</h1>
  <div class="flex justify-center">
    <table class="border-collapse border border-gray-200">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2">From Amount</th>
          <th class="px-4 py-2">|</th>
          <th class="px-4 py-2">To Amount</th>
          <th class="px-4 py-2">|</th>
          <th class="px-4 py-2">Rate</th>
        </tr>
      </thead>
      <tbody>
        {% for conversion in conversions %}
        <tr>
          <td class="px-4 py-2">{{ conversion.from_amount }}</td>
          <td class="px-4 py-2">{{ conversion.base_code }}</td>
          <td class="px-4 py-2">{{ conversion.conversion_result }}</td>
          <td class="px-4 py-2">{{ conversion.target_code }}</td>
          <td class="px-4 py-2">{{ conversion.conversion_rate }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </div>
</table>

{% endblock %}
