{% extends "base.html" %} {% block title %}Converter{% endblock %} {% block head
%} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<h1>Convertisseur de devises</h1>
<form action="/convert" method="POST">
  <input type="text" name="amount" placeholder="Montant" />
  From
  <select name="from_currency">
    <option value="" selected disabled>Select a code</option>
    {% for code in codes %}
    <option value="{{ code }}">{{ code }}</option>
    {% endfor %}
  </select>
  To
  <select name="to_currency">
    <option value="" selected disabled>Select a code</option>
    {% for code in codes %}
    <option value="{{ code }}">{{ code }}</option>
    {% endfor %}
  </select>
  <button type="submit">Convertir</button>
</form>

{% if result %} {{ result }} {{ result.conversion_result }} {% endif %} {%
endblock %}
