{% extends "base.html" %} {% block title %}Conversions{% endblock %} {% block
head %} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<h1>List of All Your Conversions</h1>

<table>
  <thead>
    <tr>
      <th>From Amount</th>
      <th>|</th>
      <th>To</th>
      <th>|</th>
      <th>Rate</th>
    </tr>
  </thead>
  <tbody>
    {% for conversion in conversions %}
    <tr>
      <td>{{ conversion.from_amount }}</td>
      <td>{{ conversion.base_code }}</td>
      <td>{{ conversion.conversion_result }}</td>
      <td>{{ conversion.target_code }}</td>
      <td>{{ conversion.conversion_rate }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
