{% comment %} 
Heritage of all the element of the home page
{% endcomment %} 
{% extends "base.html" %}

{% comment %} 
Change the title of the page
{% endcomment %}
{% block title %}Conversions - Trends{% endblock %}

{% comment %} 
Change the content of the page
{% endcomment %}
{% block content %}
{% comment %} 
Display trends if there is somes conversions done else display "No trends available, please do some conversions."
{% endcomment %}
  {% if trends %}
    <h2 class="text-2xl font-bold mb-2">Trends</h2>
    <ul>
      {% comment %} 
      Display a currencies of conversions and the trend value associated
      {% endcomment %}
      {% for currency_code, trend in trends.items() %}
        <li>{{ currency_code }}: {{ trend }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No trends available, please do some conversions.</p>
  {% endif %}

  {% comment %} 
  Display currency comparison stats if there is somes conversions done else display "No currency comparison statistics available, please do some conversions."
  {% endcomment %}
  {% if currency_comparison_stats %}
    <h2 class="text-2xl font-bold mb-2">Currency Comparison Statistics</h2>
    <ul>
      {% comment %} 
      Display currency comparison stats of each currency, mean, standard deviation, maximum, minimum"
      {% endcomment %}
      {% for currency_code, stats in currency_comparison_stats.items() %}
        <li>
          <p class="font-bold">{{ currency_code }}:</p>
          <ul>
            <li>Mean: {{ stats.mean }} - Average value of all converted amounts for {{ currency_code }}.</li>
            <li>Standard Deviation: {{ stats.standard_deviation }} - Measure of the amount of variation or dispersion of values for {{ currency_code }}.</li>
            <li>Maximum: {{ stats.maximum }} - Highest converted amount for {{ currency_code }}.</li>
            <li>Minimum: {{ stats.minimum }} - Lowest converted amount for {{ currency_code }}.</li>
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No currency comparison statistics available, please do some conversions.</p>
  {% endif %}

  {% comment %} 
  Display the mean of all the conversions amount done by a currency
  {% endcomment %}
  {% if mean_conversion_amounts %}
    <h2 class="text-2xl font-bold mb-2">Average Conversion Amounts</h2>
    <ul>
      {% for currency_code, amount in mean_conversion_amounts.items() %}
        <li>{{ currency_code }}: {{ amount }} - Average amount of conversions for {{ currency_code }}.</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No average conversion amounts available.</p>
  {% endif %}
{% endblock %}
